:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 8px;
    font-family: Helvetica, sans-serif;
    --bg-color: #ffb514;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: var(--bg-color);
    user-select: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.container {
    width: 100%;
}

header {
    grid-column: 2 / 8;
    grid-row: 2 / 6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .number {
    height: 25%;
    width: 100%;
    font: 600 4rem Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .name {
    height: 50%;
    width: 100%;
    font: 800 8rem Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .information {
    height: 25%;
    width: 100%;
    font: 100 1.5rem Helvetica, sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main {
    grid-column: 2 / 8;
    grid-row: 6 / 12;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer {
    grid-column: 2 / 8;
    grid-row: 12 / 13;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font: 300 1rem Helvetica, sans-serif;
}

@media screen and (max-width: 900px) and (min-width: 600px){
    header, main, footer {
        display:none;
    }
    
    body::after {
        content: "This demo is optimized for larger screens\A For the best experience, please view it on a computer or tablet in landscape mode";
        display: block;
        position: absolute;
        white-space: pre;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
        line-height: 200%;
        padding: 20px;
    }

}

@media screen and (max-width: 600px) and (min-width: 300px){
    header, main, footer {
        display:none;
    }
    
    body::after {
        content: "Sorry\A This demo without RWD";
        display: block;
        position: absolute;
        white-space: pre;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        font-size: clamp(2rem, 4vw, 6rem);
        line-height: 200%;
        padding: 20px;
    }

}

@media screen and (max-width: 300px){
    header, main, footer {
        display:none;
    }
    
    body::after {
        content: "???\A What device are you using\A (´･ω･`)";
        display: block;
        position: absolute;
        white-space: pre;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        font-size: clamp(2rem, 4vw, 6rem);
        line-height: 200%;
        padding: 20px;
    }

}