main {
    overflow: visible;
}

#toggle {
    display: none;
}

.btn {
    background-color: rgba(0, 0, 0);
    width: 25px;
    height: 25px;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 50%;
    border: none;
    outline: 2px solid rgba(0, 0, 0);
    outline-offset: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.9);
}

.circle-container {
    height: 20%;
    width: 20%;
    position: relative;
}

.circle {
    --circle-radius: 0px;
    --circle-color: #3596fe;
    height: var(--circle-radius);
    width: var(--circle-radius);
    border-radius: 50%;
    background-color: var(--circle-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in-out;
    z-index: -1;
}

#toggle:checked ~ .circle-container .circle{
    --circle-radius: 3000px;
}